ipython==8.35.0
jupyterlab==4.4.0
loguru==0.7.3
matplotlib==3.10.1
mkdocs==1.6.1
notebook==7.4.0
numpy==2.2.4
pandas==2.2.3
python-dotenv==1.1.0
ruff==0.11.4
scikit-learn==1.6.1
tqdm==4.67.1
typer==0.12.5
torchvision==0.21.0
flwr[simulation]==1.17.0
flwr-datasets[vision]==0.5.0
wandb==0.19.9
-e .
